$color-primary: #00D75C;
$color-black: #000000;
$bg-white: #FFFFFF;
$color-light: #FCFCFC;
$color-blue-btn-save: #2196F3;
$color-red-btn-cancel: #FF3030;
$color-border-input: #DDDDDD;
$color-placeholder: #69707A;
$color-subtitle: #060B1F;