<p-card>
    <h6 class="border-bottom-1 pb-3 surface-border">Novo Usuário do Sistema</h6>
    <div class="grid col-12 lg:col-10">
        <div class="formgrid grid">
            <div class="field col-12 xl:col-4">
                <label for="usuario">Nome do Usuário</label>
                <input id="usuario" type="text" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
        
            <div class="field col-12 xl:col-4">
                <label for="email">E-mail</label>
                <input id="email" type="email" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
        
           

          <div class="grid lg:col-12">
            <div class="field col-12 xl:col-4">
                <label for="telephone">Telefone</label>
                <input id="telephone" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
           
          </div>

        </div>
    </div>

    
    <div class="grid lg:col-8 pt-3">
        <div class="field col-12 xl:col-10">
            <div class="flex gap-3 pt-4 justify-content-center">
                <p-button label="Cancelar" styleClass="p-button-danger" icon="pi pi-times"></p-button>

                <p-button label="Salvar" styleClass="p-button-save"></p-button>

            </div>
        </div>
    </div>

</p-card>