<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome do Usuário</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{ users.name }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.telephone }}</td>
            <td>{{ users.action }}</td>
        </tr>
    </ng-template>
</p-table>