.p-dropdown{
    border: 1px solid #DADEE3;
    border-radius: 4px;
    width: 100%;

    .p-dropdown-label{
        font: normal normal normal 14px/18px Segoe UI;
    }
}

.p-dropdown-trigger-icon{
    color: $color-black;
}