<p-card>
    <h6 class="border-bottom-1 pb-3 surface-border">Nome da loja</h6>
    <div class="grid col-12 lg:col-10">
        <div class="formgrid grid">
            <div class="field col-12 xl:col-4">
                <label for="responsavel">Responsável</label>
                <input id="responsavel" type="text" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
        
            <div class="field col-12 xl:col-4">
                <label for="email">E-mail</label>
                <input id="email" type="email" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
        
            <div class="field col-12 xl:col-3">
                <label for="telephone">Telefone</label>
                <input id="telephone" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>

          <div class="grid lg:col-12">
            <div class="field col-12 xl:col-2">
                <label for="cep">CEP</label>
                <input id="cep" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-12 xl:col-4">
                <label for="address">Endereço</label>
                <input id="address" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-12 xl:col-2">
                <label for="numero">Número</label>
                <input id="numero" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
          </div>

           <div class="grid lg:col-12">
            <div class="field col-12 xl:col-4">
                <label for="complemento">Complemento</label>
                <input id="complemento" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-12 xl:col-2">
                <label for="city">Cidade</label>
                <input id="city" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-12 xl:col-2">
                <label for="uf">Estado</label>
                <input id="uf" type="tel" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
            </div>
           </div>
        </div>
    </div>



   <div class="row">
    <div class="col-xl-4" *ngFor="let item of listPlans">
        <app-plan-details [planDetails]="item"></app-plan-details>
        <div class="field col-12 md:col-12">
            <div class="flex justify-content-end align-items-center">
                <span class="text-plus-value font-normal">+ Adicionar Moto</span>
            </div>
        </div>
    </div>
  
   </div>

   <div class="field col-12 xl:col-10">
    <div class="flex gap-3 pt-4 justify-content-center">
        <p-button label="Excluir Loja" styleClass="p-button-outlined p-button-danger" icon="pi pi-trash"></p-button>

        <p-button label="Cancelar" styleClass="p-button-danger" icon="pi pi-times"></p-button>

        <p-button label="Salvar" styleClass="p-button-save" icon="pi pi-check"></p-button>

    </div>
</div>

</p-card>