<div class="boxLogin">
    <div class="flex justify-content-center align-items-center flex-row h-screen">
        <div class="surface-card p-5 border-round border-round-3xl w-25rem h-26rem">
            <i class="pi pi-compass"></i>

            <div class="formgrid grid">
                <div class="field col-12 md:col-12">
                    <label for="user">Usuário</label>
                    <input id="user" type="text" placeholder="name@domain.com" class="text-base surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-12">
                    <label for="password">Senha</label>
                    <input id="password" type="password" placeholder="******" class="text-base surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full">
                </div>

                <div class="field mt-3 text-center col-12 md:col-12">
                    <div class="flex flex-wrap justify-content-between align-items-center">
                        <a href="">Esqueci minha senha</a>
                        <button pButton pRipple label="Entrar" class="p-button p-button-principal" routerLink="/contatos"></button>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
    