@import '../../../assets/scss/abstracts/variables';

.boxLogin{
    background-image: url(./../../../assets/images/im_login.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
    .surface-card{
        box-shadow: 0px 3px 6px #00000029;
    
        .icon{
            position: absolute;
                left: 50%;
                top: 11rem;
                width: 7rem;
                transform: translate(-43%, -13%);
        }
        
        .p-button-principal{
            width: 45%;
        }

        .field > label{
            font: normal normal bold 15px/23px Poppins;
            color: $color-black;
        }

        a{
            font: normal normal normal 15px/15px Poppins;
            color: $color-blue-btn-save;
        }
        
    }
}

:host ::ng-deep .p-dialog{
    .p-dialog-footer {
        .p-button-save{
            width: 100%;
        }
        .p-button.p-button-danger{
            width: 9.5rem;

        }
    }

    .p-dialog-content{
        padding: 0 1.5rem 1rem 1.5rem;
    }

}


@media screen and (max-height: 760px) {
    .icon{
        top: 0 !important;
    }
}