:host ::ng-deep .p-card{
    box-shadow: none;

    .p-card-content{
        padding: 0rem;
    }
    .p-button-icon-left{
        font-size: 0.5rem;
        border: 1px solid;
        padding: 0.2rem;
    }
}