<div class="xl:col-12">
    <h6 class="border-bottom-1 pb-3 surface-border">Nome do Plano</h6>
</div>

<div class="grid" *ngFor="let plano of planos">
    <div class="xl:col-6">
        <label for="moto">Moto</label>
        <p-dropdown [options]="motos" [(ngModel)]="selectedMoto" optionLabel="name" [showClear]="true" placeholder="Selecione"></p-dropdown>
    </div>

    <div class="xl:col-6">
        <label for="valor">Valor</label>
            <div class="flex ">
                <input id="valueBRL2" type="text" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ml-2">
                    <path id="ic_menos" d="M12.563.563a12,12,0,1,0,12,12A12,12,0,0,0,12.563.563ZM6.175,14.5a.582.582,0,0,1-.581-.581v-2.71a.582.582,0,0,1,.581-.581H18.95a.582.582,0,0,1,.581.581v2.71a.582.582,0,0,1-.581.581Z" transform="translate(-0.563 -0.563)" fill="#ff3030"/>
                </svg>
            </div>
    </div>

    
</div>