@import '../../../assets/scss/abstracts/variables';

.min-h-screen{
    background-color: #EFF3F8;

    .list-menu{
        border: 1px solid #00000029;

        li{

            a{
                text-decoration: none;
                color: $color-black;
    
                &:active{
                    color: #00D75C;
                }

                .color-active.active{
                    filter: invert(40%) sepia(86%) saturate(375%) hue-rotate(71deg) brightness(106%) contrast(90%);
                }
            }
        
            .font-medium{
                font-family: 'Poppins';
                font-size: 13px;
                padding: 0.5rem;
            }
        }

        .color-active.active{
            filter: invert(40%) sepia(86%) saturate(375%) hue-rotate(71deg) brightness(106%) contrast(90%);
        }
    
       
    }

    .icon-back{
        position: relative;
        left: 7.5rem;

        span{
            font: normal normal normal 16px/23px Segoe UI;
            color: $color-black;
        }
    }

    .bg-home{
        // background-color: $color-light;
    }
}
