@import '../../../assets/scss/abstracts/variables';

.min-h-screen{
    max-width: 100%;
    position: relative;
    background-color: #EFF3F8;

    .logo-cabecalho{
        position: relative;
        z-index: 1101;
        margin-left: 1rem;
        margin-top: 1rem;
    }


    .sidebar{
        position: absolute;
        width: 100px;
        padding-top: 95px;
        height: 100%;
        background-color: $bg-white;

        .menu-box{
            margin-top: 0;
            padding-left: 0;
            margin-bottom: 70px;

            a{
                li{
                    .item-menu{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: #f4f4f4;
                        padding: 11px 0;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .back-sidebar{
        flex: 0 0 100px;
        height: 100vh;
    }

    .main-sub{
        flex: 1 1 calc(100% - 100px);
        padding: 0 35.5px;
        padding-top: 45px;
        padding-bottom: 50px;
    }

    .list-menu{
        border: 1px solid #00000029;

        li{

            a{
                text-decoration: none;
                color: $color-black;
    
                &:active{
                    color: #00D75C;
                }

                .color-active.active{
                    filter: invert(40%) sepia(86%) saturate(375%) hue-rotate(71deg) brightness(106%) contrast(90%);
                }
            }
        
            .font-medium{
                font-family: 'Poppins';
                font-size: 13px;
                padding: 0.5rem;
            }
        }

        .color-active.active{
            filter: invert(40%) sepia(86%) saturate(375%) hue-rotate(71deg) brightness(106%) contrast(90%);
        }
    
       
    }

    .icon-back{
        position: relative;
        left: 7.5rem;

        span{
            font: normal normal normal 16px/23px Segoe UI;
            color: $color-black;
        }
    }
}

@media screen and (max-height: 760px) {
 
}