@import '../../../assets/scss/abstracts/variables';

.surface-card{
    .font-title{
        font: normal normal 600 16px/33px Segoe UI;
    }
    .font-subtitle{
        font: normal normal bold 17px/25px Segoe UI;
        color: $color-subtitle;
    }
    p{
        margin-bottom: 0.2rem;
        
    }
    .pi-chevron-up, .pi-chevron-down{
        color: #A6A6A6;
        font-weight: bold;
        opacity: 1;
        font-size: 0.9rem;
    }
    hr{
        color: #DFE7EF;
        opacity: 1;
        margin: 0;
    }

    .text-title{
        font: normal normal 600 16px/34px Segoe UI;
    }
   
}