<div class="grid align-items-baseline">
    <div class="col-10">
     <div class="grid">
        <div *ngFor="let dado of dadosCard; let i = index" class="col-12 col-12 lg:col-5 xl:col-4 p-3">
            <div class="surface-card p-3 border-round-lg" (click)="togglePanel(i)">
              <div class="mb-3">
                <div class="flex align-items-center justify-content-between cursor-pointer">
                  <span class="block text-900 font-semibold font-title align-items-center mb-1">{{ dado.nome }}</span>
                  <i [ngClass]="i === openCard ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></i>
                </div>
                <hr>
        
                <div class="py-2" *ngIf="i === openCard">
                    <div class="flex align-items-center pb-4" *ngFor="let moto of motos">
                        <img [src]="moto.imagemUrl" style="width: 81px; height: 70px; padding: 0.5rem;" class="mr-3 border-black-alpha-90 border-1 border-circle" />
                            <div class="flex flex-column align-items-start">
                                <span class="text-900 mb-1 text-title">{{ moto.nome }}</span>
                            </div>
                    </div>

                    <div class="flex gap-4">
                        <p-button label="Excluir Moto" styleClass="p-button-outlined p-button-danger" icon="pi pi-trash"></p-button>
                        <p-button label="Ver Detalhes" styleClass="p-button-outlined p-button-secondary" icon="pi pi-angle-right" iconPos="right"></p-button>
                    </div>
                </div>
                <hr>

               

              </div>
            </div>
          </div>


        
     </div>
    </div>
    <div class="col-2 text-right">
        <button pButton pRipple label="Adicionar Plano" icon="pi pi-plus" routerLink="./detalhe-plano" class="p-button p-button-principal p-button-rounded" ></button>
    </div>
</div>