@import '../../../../assets/scss/abstracts/variables';

:host ::ng-deep .p-card{
    box-shadow: none;

    .field > label{
        color: #37322C;
    }

    .p-dropdown{
        border-radius: 4px;
    }

    .pi-minus-circle{
        width: 22px;
    }

    .text-plus-value{
        color: #0A6BFC;
        font: normal normal normal 15px/24px Segoe UI;
    }

    .lg\:col-offset-1{
        margin-left: 5.3333% !important;
    }

    .p-checkbox .p-checkbox-box{
        border: 2px solid $color-black;

    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
        background: $color-black;
        border-color: $color-black;
    }

    .p-checkbox .p-checkbox-box.p-highlight{
        background: $color-black;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
        box-shadow: none;
    }
}