<p-card>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="formgrid grid">

                <div class="field col-7 md:col-7">
                    <label for="namePlan">Nome do Plano</label>
                    <input id="namePlan" type="text" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">
                </div>

                <div class="field col-7 md:col-7">
                    <label for="namePlan">Vigência do Plano</label>
                    <p-dropdown [options]="vigenciaPlan" [(ngModel)]="selectedVigencia" optionLabel="name" [style]="{'width': '100%'}"></p-dropdown>
                </div>

                <div class="col-12 md:col lg:col" [style]="{'flex-grow': '0.5'}"></div>

                <div class="field col-7 md:col-7">
                    <label for="period">Periodicidade</label>
                    <p-dropdown [options]="periodos" [(ngModel)]="selectedPeriodos" optionLabel="name" [style]="{'width': '100%'}"></p-dropdown>

                </div>

            </div>
        </div>


        <div class="col-12 md:col-6 lg:col-6">
            <div class="field col-12 md:col-12">
                <label for="period">Vantagens</label>
                <div class="flex ">
                    <input id="valueBRL2" type="text" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ml-2">
                        <path id="ic_menos" d="M12.563.563a12,12,0,1,0,12,12A12,12,0,0,0,12.563.563ZM6.175,14.5a.582.582,0,0,1-.581-.581v-2.71a.582.582,0,0,1,.581-.581H18.95a.582.582,0,0,1,.581.581v2.71a.582.582,0,0,1-.581.581Z" transform="translate(-0.563 -0.563)" fill="#ff3030"/>
                    </svg>
                </div>
            </div>

            <div class="field col-12 md:col-12">
                <div class="flex ">
                    <input id="valueBRL2" type="text" class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round-sm appearance-none outline-none focus:border-primary w-full">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ml-2">
                        <path id="ic_menos" d="M12.563.563a12,12,0,1,0,12,12A12,12,0,0,0,12.563.563ZM6.175,14.5a.582.582,0,0,1-.581-.581v-2.71a.582.582,0,0,1,.581-.581H18.95a.582.582,0,0,1,.581.581v2.71a.582.582,0,0,1-.581.581Z" transform="translate(-0.563 -0.563)" fill="#ff3030"/>
                    </svg>
                </div>
            </div>

            <div class="field col-12 md:col-12">
                <div class="flex justify-content-end align-items-center">
                    <span class="text-plus-value font-normal">+ Adicionar Vantagem</span>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
                <label for="period">Formas de Pagamento</label>
            </div>

            <div class="flex flex-column gap-2">
                <div *ngFor="let category of categories" class="field-checkbox">
                    <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories" [inputId]="category.key"></p-checkbox>
                    <label [for]="category.key">{{ category.name }}</label>
                </div>
            </div>
        </div>

        <div class="field col-12 xl:col-10">
            <div class="flex gap-3 pt-4 justify-content-center">
                <p-button label="Excluir Moto" styleClass="p-button-outlined p-button-danger" icon="pi pi-trash"></p-button>
    
                <p-button label="Cancelar" styleClass="p-button-danger" icon="pi pi-times"></p-button>
    
                <p-button label="Salvar" styleClass="p-button-save" icon="pi pi-check"></p-button>
    
            </div>
        </div>
    </div>
</p-card>